
@{
    ViewBag.Title = "EventDetail";
}

<h2>@ViewBag.e.Summary</h2>
<div class="MainBody">
    <h5>Description: @ViewBag.e.Description</h5>
    <h5>Start: @ViewBag.e.Start.DateTime</h5>
    <h5>End: @ViewBag.e.End.DateTime</h5>

    <a href="~/Home/EventEdit">Edit</a>


</div>
